.footer{
     border-top: 1px solid rgb(203, 202, 202);
     height: 9dvh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
}

.footer p{
    font-size: small;
}

@media (max-width: 700px){
    .footer{
        flex-direction: column;
    }
}