.homepage_main_div{
    height: 80dvh;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    
    
}

.inner_blocks{
    flex: 1;
    /* height: inherit; */

}

.left_content{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.right_content{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_textbox{
    /* width: 70%; */
    /* background-color: blueviolet; */
    /* border: 1px outset black; */

    /* height: 60%; */

    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

    margin-left: 70px;
    margin-right: 10px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: #0B3C5D;
  letter-spacing: -0.5px;
  margin-bottom: 8px;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #F29C7B;
  margin-bottom: 16px;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.7;
  color: #555555;
  max-width: 520px;
}


.explore_btn {
  margin-top: 28px;
  display: inline-block;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;

  padding: 14px 34px;
  border-radius: 30px;

  background-color: #0B3C5D;
  color: #ffffff;

  text-decoration: none;
  border: none;
  cursor: pointer;

  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(11, 60, 93, 0.25);
}

.explore_btn:hover {
  background-color: #145A82;
  transform: translateY(-2px);
  box-shadow: 0 12px 28px rgba(11, 60, 93, 0.35);
}

.explore_btn:active {
  transform: translateY(0);
  box-shadow: 0 6px 14px rgba(11, 60, 93, 0.25);
}

.home_images{
    width: 60%;
}

.image_slidshow_div {
  width: 60%;
  aspect-ratio: 1 / 1; 
  border-radius: 27% 73% 70% 30% / 30% 30% 70% 70%;
  overflow: hidden;      
}

.image_slidshow_div img {
  width: 100%;
  height: 100%;
  object-fit: cover;     /* keeps aspect ratio */
}




/*************************************/
@media (max-width: 700px){
    .homepage_main_div{
        flex-direction: column-reverse;
        height: auto;
        
    }
    .btn_div{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn_div{
        margin-bottom: 10px;
    }
    .explore_btn {
        padding: 12px 28px;
        font-size: 15px;
    }

    .intro_textbox{
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
        width: 80%;
    }

    .left_content{
        flex: 2;
    }

    .image_slidshow_div{
        margin-top: 20px;
    }

    h1 {
        font-size: 38px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
}




/***********************************/

